body {
}
img {
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center;
}
.hero-image {
  position: relative;
  width: 100%;
  height: auto;
}
.text-overlay {
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  background-color: rgba(20, 0, 0, 0.5);
  color: #ffffff;
  padding: 1em;
  -webkit-box-shadow: 1px 1px 3px 3px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 2px 3px 3px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 2px 3px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
